:root {
    --primary-color: black;
    --secondary-color: blue;
    --accent1-color: gray;
    --accent2-color: rgb(0, 128, 17);
    --heading-font: "Times New Roman","Georgia",serif;
    --body-font: Arial, Helvetica, sans-serif;  
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 40px;
    background-color: #f5f5f5;
}

header img {
    width: 120px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #0077cc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    padding: 0 16px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    margin-bottom: 24px;
    position: relative;
    padding-top: 60px;
}

.hero-image {
    position: relative;
}

.hero-image img {
    display: block;
    width: 100%;
    height: auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero- image h1 {
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    padding: 12px 20px;
    background-color: rgba(128, 128, 128, 0.7);
    color:antiquewhite;
    font-family: var(--heading-font);
    text-align: center;
    z-index: 1;
    border-radius: 8px;
}

.hero article {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    margin: 16px;
    padding: 8px;
}

.hero article img {
    width: 125px;
    flex-shrink: 0;
    border-radius: 6px;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: antiquewhite;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--accent1-color);
    color:white;
}

.socialmedia img {
    width: 100px;
    margin-left: 8px;
}